body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button[type="submit"] {
    background-color: #008CBA;
}

#inputContainer {
    margin-bottom: 10px;
}

.owner {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.owner input[type="text"],
.owner input[type="number"] {
    width: 45%;
    margin-right: 5px;
}

.owner div {
    display: flex;
}

.owner button {
    margin-left: 5px;
}

.add-field-button,
.remove-field-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

.add-field-button:hover,
.remove-field-button:hover {
    background-color: #999;
}
